@import "../shared.scss";

.success {
    background: $primary;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    z-index: 4;

    &_message {
        //padding-top: 4em;
        color: #fff;
        display: flex;
        text-align: center;
    }
}
